<section class="profile container">
    <h1><%= user.userName %></h1>
    <br><br>
    <% posts.forEach(post => { %>
        <div class="post-content-container">
            <h2><%= post.title %></h2>
            <div class="profile-article-container">
                <div class="profile-content-container">
                    <p><%= post.content.substring(0, 100) %>...</p>
                    <a href="/post/<%= post._id %>">Devamını oku</a>
                </div>  
                <div class="post-actions">
                    <!-- <a class="edit-btn" href="/edit-post/%= post._id %>">Düzenle</a>  -->
                    <form action="/edit-post/<%= post._id %>">
                        <button type="submit">Düzenle</button>
                    </form>
                    <form action="/delete-post/<%= post._id %>" method="POST" onsubmit="return confirm('Bu gönderiyi silmek istediğine emin misin?')">
                        <button type="submit">Sil</button>
                    </form>
                </div>    
            </div>

        </div>
        <br>

    <% }) %>

</section>